{% extends 'food/base.html' %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div>
            <img src="{{ object.item_image }}" height="400" width="400" alt="{{ object.item_name }}" class="img-fluid mb-3">
            <h3>{{ object.item_name }}</h3>
            <h3>{{ object.item_desc }}</h3>
            <h3>${{ object.item_price }}</h3>
            <h3>Added by {{ object.user_name  }}</h3>
            <a href="{% url 'food:delete_item' object.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'food:update_item' object.id %}" class="btn btn-primary">Update</a>
        </div>
    </div>
{% endblock %}
